{
 :paths ["src" "test"]
 :deps  {}


 
 :aliases
 {:dev {:deps {org.clojure/clojure {:mvn/version "1.11.1"}}}
  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.4.0" :git/sha "334f2e2"}}
         :exec-fn cognitect.test-runner.api/test}}
}
